<h1>Add a new category:</h1>

<form action="/categories" method="post">
  <div class="form-group">
    <label for="name">category name</label>
    <input id="name" name="name" type="text" class="form-control">
    </div>

  <button type="submit" class="btn btn-success">Add category</button>
</form>
